<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:p="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>

        <processor type="ConditionalPlaceholderSettings.Processors.ExecutePlaceholderRules, ConditionalPlaceholderSettings"
                   p:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']">
          <FolderId>{356BC38D-3DB4-4B94-97E5-85AA3A3DF9E0}</FolderId>
        </processor>
        <processor type="ConditionalPlaceholderSettings.Processors.ApplyEditableFlag, ConditionalPlaceholderSettings"
                   p:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
        <processor type="ConditionalPlaceholderSettings.Processors.ApplyAllowedRenderings, ConditionalPlaceholderSettings"
                   p:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
        <processor type="ConditionalPlaceholderSettings.Processors.ApplyBlockedRenderings, ConditionalPlaceholderSettings"
                   p:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
        <processor type="ConditionalPlaceholderSettings.Processors.FinaliseFlags, ConditionalPlaceholderSettings"
                   p:after="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
      </getPlaceholderRenderings>
    </pipelines>
  </sitecore>
</configuration>
